* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --bg-main-color: #0a0a0b;
  --text-main-color: #fff;
  --btn-bg-color: #4177dc;
  --btn-bg-color-hover: #306ad9;
  --btn-bg-color-active: #608ce2;
  --icon-color: #babec4;
}

html {
  overflow-x: hidden;
}
body {
  font-family: "Exo Regular";
  color: var(--text-main-color);
  background: var(--bg-main-color);
  overflow-x: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ------------------------------------ header started ------------------------------------*/

header {
  width: 100%;
  height: auto;
  background-color: transparent;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.menu {
  display: none;
}

.nav__list--item {
  list-style-type: none;
}

.nav__list--item-link {
  text-decoration: none;
  color: var(--text-main-color);
}

.active {
  text-shadow: 0px 0px 32px #346dda;
  color: var(--btn-bg-color-hover);
}

.nav__list--item-link:hover {
  color: var(--icon-color);
}

/* ------------------------------------ header finished ------------------------------------*/

/* ------------------------------------ intro started ------------------------------------*/

.intro {
  width: 100%;
  height: auto;
  position: relative;
}

.intro::before {
  content: "";
  display: block;
  position: absolute;
  width: 500px;
  height: 500px;
  left: -138px;
  top: -128px;

  background: rgba(55, 74, 109, 0.5);
  filter: blur(90px);
}

.intro::after {
  content: "";
  display: block;
  position: absolute;
  width: 400px;
  height: 400px;
  right: -20px;
  top: 404px;

  background: rgba(55, 74, 109, 0.5);
  filter: blur(90px);
}

.wrapper {
  text-align: center;
}

.intro__title {
  font-family: "Exo SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  margin-top: 72px;
}

.intro__subtitle {
  font-family: "Exo SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  margin-top: 20px;
}

.wrapper span {
  font-family: "Exo Regular";
  font-weight: 400;
  display: block;
  margin-top: 8px;
  color: var(--icon-color);
}

.wrapper span img {
  margin-bottom: -4px;
}
.intro__car {
  margin-top: 48px;
}

.intro__info {
  width: 406px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  height: 104px;
}

.text {
  font-weight: 600;
  font-size: 24px;
  color: var(--text-main-color);
  padding: 16px 0 4px 0;
}

.info__text {
  color: var(--icon-color);
  font-weight: 400;
  font-size: 13px;
}

.intro__start {
  width: 90px;
  height: 90px;
  font-weight: 500;
  margin: 91px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #02db8a;
  filter: drop-shadow(0px 0px 16px #02db8a);
  cursor: pointer;
  border-radius: 50%;
}

.intro__start h2 {
  width: 70px;
  height: 70px;
  font-size: 14px;
  border: 2px solid #099260;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__start:hover h2 {
  filter: drop-shadow(0px 0px 16px #02db8a);
}
/* ------------------------------------ intro finished ------------------------------------*/

/* ------------------------------------ about started ------------------------------------*/

.about {
  margin-top: 72px;
}

.about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about__left-img {
  position: relative;
}

.info_img {
  position: absolute;
  width: 197px;
  height: 104px;
  left: 284px;
  top: 268px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  padding-top: 15px;
  text-align: center;
}

.info_img h3 {
  font-weight: 600;
  font-size: 20px;
}

.info_img p {
  font-size: 13px;
  font-weight: 400;
  margin-top: 8px;
}

.about__info h2 {
  width: 209px;
  height: 68px;
  font-weight: 600;
  font-size: 24px;
}

.about__info p {
  width: 401px;
  height: 88px;
  font-weight: 400;
  font-size: 16px;
  color: var(--icon-color);
  margin-top: 24px;
}

.about__info-btn {
  width: 149px;
  height: 50px;
  margin-top: 48px;
  background: var(--btn-bg-color);
  border-radius: 4px;
  color: var(--text-main-color);
  border: none;
  font-weight: 500;
  font-size: 16px;
}

.about__info-btn:hover {
  background: var(--btn-bg-color-hover);
}

.about__info-btn:active {
  background: var(--btn-bg-color-active);
}
/* ------------------------------------ about finished ------------------------------------*/

/* ------------------------------------ popular started ------------------------------------*/

.popular {
  margin-top: 150px;
  padding: 72px 48px;
}

.popular__title {
  margin: 0 auto 64px;
  max-width: 278px;
  width: 100%;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #f1f2f3;
}

.popular__cards {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular__card {
  overflow: hidden;
  background: #111213;
  border-radius: 20px;
  padding: 32px 22px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  /* width: 258px;
  height: 328px; */
}

.popular__card::before {
  content: "";
  display: block;
  position: absolute;
  width: 190px;
  height: 190px;
  left: -80px;
  top: -48px;
  background: rgba(55, 74, 109, 0.5);
  filter: blur(60px);
}

.popular__card__title {
  font-weight: 600;
  font-size: 24px;
  color: #f1f2f3;
  width: 100%;
}

.popular__card__text {
  font-size: 16px;
  color: #babec4;
  width: 100%;
  margin-bottom: 12px;
}

.popular__card__image {
  margin-bottom: 22px;
}

.popular__card__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 34px;
}

.popular__card__info__desc {
  display: flex;
  align-items: center;
  margin-right: 5px;
  max-width: 95px;
  width: 100%;
  margin-bottom: 8px;
}

.popular__card__info__desc img {
  margin-right: 4px;
}

.popular__card__price {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}

.popular__shopping__wrapper {
  width: 56px;
  height: 48px;
  background: #4177dc;
  border-radius: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ------------------------------------ popular finished ------------------------------------*/

/* ------------------------------------ feature started ------------------------------------*/

.feature__title {
  margin-top: 72px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #f1f2f3;
}

.feature__bg__image {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.feature__car_image {
  top: 140px;
  position: absolute;
}

.feature__info--list {
  position: absolute;
  text-align: center;
  list-style-type: none;
  width: 127px;
  height: 92px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 20px;
}

.feature__info--list-title {
  padding: 12px 0 4px 0;
  font-weight: 600;
  font-size: 20px;
  color: var(--text-main-color);
}

.feature__info--list-subtitle {
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  color: var(--text-main-color);
}

.box1 {
  left: -75px;
  top: 61px;
}

.box2 {
  left: 150px;
  top: 130px;
}

.box3 {
  left: -75px;
  top: 270px;
}
/* ------------------------------------ feature finished ------------------------------------*/

/* ------------------------------------ luxury-cars started ------------------------------------*/

.luxury-cars__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #f1f2f3;
  margin-top: 72px;
}

.luxury-cars__brands {
  width: 333px;
  height: 73px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}

.luxury-cars__brands-brand {
  width: 52px;
  height: 52px;
  background: #111213;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-brand {
  background: #4177dc;
}

.luxury-cars__cards {
  margin: 64px 0 72px 0;
  display: flex;
  flex-wrap: wrap;
}

.luxury-cars__card {
  margin: 72px 0 55px 72px;
  list-style-type: none;
  width: 248px;
  height: 312px;
  background: #111213;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.luxury-cars__card::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 180px;
  left: 20px;
  top: 65px;
  background: rgba(55, 74, 109, 0.5);
  filter: blur(60px);
}

.luxury-cars__card-title {
  font-weight: 600;
  font-size: 24px;
  color: #f1f2f3;
  width: 100%;
}

.luxury-cars__card-subtitle {
  font-weight: 400;
  font-size: 16px;
  color: #babec4;
  width: 100%;
}

.luxury-cars__card-info {
  position: absolute;
  padding-top: 32px;
  padding-left: 24px;
}

.luxury-cars__card-image {
  padding-top: 115px;
  padding-left: 16px;
  position: absolute;
}

.luxury-cars__card-price {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  padding-left: 24px;
  padding-top: 250px;
}

.luxury-cars__card-wrapper {
  width: 56px;
  height: 48px;
  background: #4177dc;
  border-radius: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ------------------------------------ luxury-cars finished ------------------------------------*/

/* ------------------------------------ offer started ------------------------------------*/

.offer {
  background-image: url("../images/bg-image-small.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  position: relative;
  margin-bottom: 100px;
  padding: 72px 0 56px 0;
}

.offer-container {
  display: flex;
  align-items: flex-end;
}

.offer__left {
  padding-left: 80px;
}

.offer__left h4 {
  margin-top: 72px;
  width: 312px;
  height: 68px;
  font-weight: 600;
  font-size: 24px;
  color: #f1f2f3;
}

.offer__left p {
  margin-top: 31px;
  width: 375px;
  height: 66px;
  font-weight: 400;
  font-size: 16px;
  color: #babec4;
}

.offer__left button {
  margin-top: 48px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background: #4177dc;
  border-radius: 4px;
  padding: 14px 32px;
  border: none;
}

.offer__right {
  margin-left: 80px;
}

/* ------------------------------------ offer finished ------------------------------------*/

/* ------------------------------------ brands srarted ------------------------------------*/

.brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 810px;
  margin: 0 auto;
}

/* ------------------------------------ brands finished ------------------------------------*/

/* ------------------------------------ footer srarted ------------------------------------*/

.footer__container {
  /* background: #fff; */
  margin-top: 136px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__logo img {
  width: 110px;
  height: 34px;
}

.footer__logo p {
  /* margin-top: 24px; */
  font-weight: 400;
  font-size: 13px;
  color: #babec4;
  width: 198px;
  height: 54px;
}

.footer__company h4 {
  font-weight: 600;
  font-size: 20px;
  color: #f1f2f3;
  margin-bottom: 14px;
}

.footer__info h4 {
  font-weight: 600;
  font-size: 20px;
  color: #f1f2f3;
  margin-bottom: 14px;
}

.footer__company p {
  padding: 10px 0;
}

.footer__info p {
  padding: 10px 0;
}

.footer__ahref {
  font-weight: 400;
  font-size: 16px;
  color: #babec4;
  text-decoration: none;
}

.footer__follow h4 {
  font-weight: 600;
  font-size: 20px;
  color: #f1f2f3;
  margin-bottom: 24px;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.footer__copyright {
  margin: 98px 0 32px 0;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  color: #888b91;
}
/* ------------------------------------ footer srarted ------------------------------------*/

/* ----------------------------- Responsive ---------------------------------- */

@media only screen and (max-width: 360px) {
  .container {
    max-width: 312px;
    padding: 0 10px;
  }

  .menu {
    display: block;
  }

  .nav__list {
    display: none;
  }

  .nav__logo {
    height: 22px;
  }

  .intro__info--item img {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
  }

  .intro__title {
    font-weight: 500;
    font-size: 24px;
  }

  .intro__subtitle {
    font-weight: 600;
    font-size: 16px;
  }

  .intro__car {
    width: 280px;
  }

  .text {
    font-size: 20px;
    font-weight: 500;
    padding-top: 12px;
  }

  .info__text {
    font-weight: 400;
    font-size: 10px;
    color: #888b91;
  }

  .intro__info {
    width: 296px;
    justify-content: space-between;
  }

  .intro::before {
    width: 400px;
    height: 400px;
    left: -190px;
    top: -240px;
  }

  .intro::after {
    width: 300px;
    height: 300px;
    left: 272px;
    top: 175px;
  }

  .intro__start {
    margin: 57px auto;
  }

  .about__img {
    width: 312px;
  }

  .info_img {
    width: 181px;
    height: 95px;
    left: 132px;
    top: 159px;
  }

  .info_img h3 {
    font-weight: 600;
    font-size: 16px;
  }

  .info_img p {
    font-weight: 400;
    font-size: 12px;
    margin-top: 8px;
  }

  .about__info h2 {
    margin-top: 95px;
    width: 174px;
    height: 56px;
    font-weight: 600;
    font-size: 20px;
  }

  .about__info p {
    width: 312px;
    height: 105px;
    font-size: 15px;
  }

  .about__info-btn {
    width: 144px;
    height: 53px;
    font-size: 15px;
  }

  .popular {
    margin-top: 65px;
  }

  .popular__title {
    margin: 0 auto 64px;
    max-width: 232px;
    font-size: 20px;
  }

  .popular__card {
    margin-bottom: 20px;
  }

  .feature__title {
    margin-top: 50px;
    font-size: 20px;
  }

  .map {
    width: 650px;
  }

  .feature__car {
    width: 150px;
  }

  .feature__car_image {
    top: 120px;
  }

  .feature__info--list {
    width: 111px;
    height: 84px;
  }

  .feature__info--list-title {
    font-size: 16px;
  }

  .feature__info--list-subtitle {
    font-size: 12px;
  }

  .box1 {
    left: -65px;
  }

  .box2 {
    left: 105px;
  }

  .box3 {
    left: -65px;
    top: 230px;
  }
  .luxury-cars__title {
    font-size: 20px;
  }

  .luxury-cars__brands {
    width: 255px;
    justify-content: space-between;
  }

  .luxury-cars__brands-brand {
    width: 48px;
    height: 48px;
  }

  .luxury-cars__brands-brand img {
    width: 25px;
    height: 25px;
  }

  .luxury-cars__cards {
    margin: 56px 0 48px 0;
    justify-content: center;
    gap: 40px;
  }

  .luxury-cars__card {
    width: 228px;
    height: 279px;
    margin: 0;
  }

  .offer {
    overflow: hidden;
    background-position: bottom;
    height: 550px;
  }

  .offer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .offer__left {
    padding-left: 0;
    margin-top: -90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .offer__left h4 {
    width: 290px;
    height: 56px;
    font-size: 20px;
    text-align: center;
  }

  .offer__left p {
    width: 312px;
    height: 63px;
    font-size: 15px;
    text-align: center;
  }

  .offer__left button {
    margin-top: 48px;
    font-size: 15px;
    border-radius: 4px;
    padding: 14px 32px;
    border: none;
  }

  .offer__right {
    margin-top: 64px;
    margin-left: 80px;
    position: absolute;
    bottom: 0;
    left: -37px;
  }

  .offer__car {
    width: 400px;
  }

  .brands {
    flex-wrap: wrap;
    flex-direction: column;
    width: 360px;
    height: 157px;
    gap: 20px;
  }

  .brands__container {
    margin: 0;
    padding: 0;
  }

  .brand {
    width: 40px;
    height: 40px;
  }

  .footer__container {
    flex-direction: column;
    gap: 40px;
  }
}
