* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --bg-main-color: #0a0a0b;
  --text-main-color: #fff;
  --btn-bg-color: #306ad9;
  --btn-bg-color-hover: #4177dc;
  --btn-bg-color-active: #608ce2;
  --icon-color: #babec4;
}

body {
  font-family: "Exo Regular";
  color: var(--text-main-color);
  background: var(--bg-main-color);
  overflow-x: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ------------------------------------ header started ------------------------------------*/

header {
  width: 100%;
  height: auto;
  background-color: transparent;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.nav__list--item {
  list-style-type: none;
}

.nav__list--item-link {
  text-decoration: none;
  color: var(--text-main-color);
}

.active {
  text-shadow: 0px 0px 32px #346dda;
  color: var(--btn-bg-color-hover);
}

.nav__list--item-link:hover {
  color: var(--icon-color);
}

/* ------------------------------------ header finished ------------------------------------*/

/* ------------------------------------ intro started ------------------------------------*/

.intro {
  width: 100%;
  height: auto;
  position: relative;
}

.intro::before {
  content: "";
  display: block;
  position: absolute;
  width: 500px;
  height: 500px;
  left: -138px;
  top: -128px;

  background: rgba(55, 74, 109, 0.5);
  filter: blur(90px);
}

.intro::after {
  content: "";
  display: block;
  position: absolute;
  width: 400px;
  height: 400px;
  right: -20px;
  top: 404px;

  background: rgba(55, 74, 109, 0.5);
  filter: blur(90px);
}

.wrapper {
  /* background-color: rgb(117, 112, 112); */
  text-align: center;
}

.intro__title {
  font-family: "Exo SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  margin-top: 72px;
}

.intro__subtitle {
  font-family: "Exo SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  margin-top: 20px;
}

.wrapper span {
  font-family: "Exo Regular";
  font-weight: 400;
  display: block;
  margin-top: 8px;
  color: var(--icon-color);
}

.wrapper span img {
  margin-bottom: -4px;
}
.intro__car {
  margin-top: 48px;
}

.intro__info {
  width: 406px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px auto;
  height: 104px;
}

.info__text {
  color: var(--icon-color);
}

.intro__start {
  width: 90px;
  height: 90px;
  font-weight: 500;
  margin: 91px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #02db8a;
  filter: drop-shadow(0px 0px 16px #02db8a);
  cursor: pointer;
  border-radius: 50%;
}

.intro__start h2 {
  width: 70px;
  height: 70px;
  font-size: 14px;
  border: 2px solid #099260;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__start:hover h2 {
  filter: drop-shadow(0px 0px 16px #02db8a);
}
/* ------------------------------------ header finished ------------------------------------*/
